body {
  background-color: antiquewhite;
}

.btn {
  background-color: lightgrey;
  border: none;
  border-radius: 2%;
  width: 200px;
  height: 60px;
  font-size: 1.25rem;
  font-family: serif;
}

ul {
  flex-direction: column;
  gap: 20px;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}
